@import "tailwindcss";
@import "../styles/variables.css";

@theme inline {
  --color-accent: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-button: var(--btn-accent-bg);
  --color-text-main: var(--text-main);
  --color-text-sub: var(--text-sub);
  --color-bg-rect: var(--bg-rect);
  --color-border-rect: var(--border-rect);
  --color-bg-chat: var(--bg-chat);
  --color-bg-chat-active: var(--bg-chat-active);
  --color-hover-action: var(--hover-action);
  --color-hover-checkbox: var(--hover-checkbox);
  --color-bg-shadow: var(--bg-shadow);
  --color-input-ring: var(--input-ring);
  --color-icon: var(--icon);
  --color-input-placeholder: var(--input-placeholder);
  --color-text-default: var(--text-default);
  --color-icon-input: var(--icon-input);
  --color-line: var(--line);
  --color-ripple: var(--ripple);
  --color-border-checkbox: var(--border-checkbox);
  --color-bg-modal: var(--bg-modal);
  --color-btn-main-bg: var(--btn-main-bg);
  --color-btn-text: var(--btn-text);
  --color-bg-chat-accent: var(--bg-chat-accent);
  --color-text-time: var(--text-time);
  --color-text-time-my: var(--text-time-my);
  --color-bg-file: var(--bg-file);
  --breakpoint-otherprofile: 25rem;
  --breakpoint-resizechat: 70rem;
}


body {
  background: var(--bg-main);
  color: var(--text-main);
  overflow-x: hidden;
  user-select: none;
}

.Toastify__close-button {
  color: var(--text-main);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.ripple {
  animation: ripple 0.6s linear;
  transform-origin: center;
  position: absolute;
  border-radius: 50%;
}

.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar) transparent;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 9999px;
  border: 1px solid transparent;
}

.text-myred {
  color: #ed2424;
}

.hidden-scroll {
  overflow: auto;
  scrollbar-width: none;
}

.hidden-scroll::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.shadow-wrapper {
  @apply flex flex-col fixed p-0.5 gap-1 backdrop-blur-xl bg-bg-shadow rounded-xl text-text-default w-full shadow-[0_0px_20px_-8px_rgba(0,0,0,0.8)] cursor-pointer z-123123;
}

.user-action-popup {
  background: var(--bg-chat) !important;
}

.paddingPopup {
  padding: 4px !important;
}

.shortText {
  @apply truncate break-all max-w-full;
}

@keyframes marching-ants {
  0% {
    background-position:
      0 0,
      20px 0px 100%,
      0 20px,
      100% 0;
  }
  100% {
    background-position:
      20px 0,
      0 100%,
      0 0,
      100% 20px;
  }
}

.marchingAntsNotActive {
  background-image:
    linear-gradient(90deg, var(--icon-input) 50%, transparent 50%),
    linear-gradient(90deg, var(--icon-input) 50%, transparent 50%),
    linear-gradient(0deg, var(--icon-input) 50%, transparent 50%),
    linear-gradient(0deg, var(--icon-input) 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size:
    20px 2px,
    20px 2px,
    2px 20px,
    2px 20px;
  background-position:
    0 0,
    20px 100%,
    0 20px,
    100% 0;
  border-radius: 0.5rem;
  animation: ease-in 13s background-image;
}

.marchingAntsIsActive {
  background-image:
    linear-gradient(90deg, var(--color-primary) 50%, transparent 50%),
    linear-gradient(90deg, var(--color-primary) 50%, transparent 50%),
    linear-gradient(0deg, var(--color-primary) 50%, transparent 50%),
    linear-gradient(0deg, var(--color-primary) 50%, transparent 50%);
}

.marchingAntsAnimate {
  animation: marching-ants 400ms infinite linear;
}

.iconHoverEffect {
  @apply cursor-pointer flex p-2.5 items-center justify-center hover:bg-hover-checkbox bg-transparent rounded-full duration-300;
}

.messageItemWrapper {
  @apply p-2 rounded-t-2xl flex flex-col justify-center w-max max-w-[70%] break-all;
}
