@import "tailwindcss";

:root {
  --ff-main: "DMSans", sans-serif;
  --accent-color: #8166fa;
  --accent-button-color: color-mix(in srgb, var(--accent-color) 70%, #000000);
  --switcher-bg-color: color-mix(in srgb, var(--accent-color) 10%, #000000);
  --background-color: color-mix(in srgb, var(--accent-color) 2%, #000000);
  --rect-background-color: color-mix(
    in srgb,
    var(--accent-color) 1%,
    transparent
  );
  --rect-border-color: color-mix(in srgb, var(--accent-color) 8%, #ffffff01);
  --text-color: color-mix(in srgb, var(--accent-color) 25%, #ffffff);
  --sub-text-color: color-mix(in srgb, var(--accent-color) 35%, #ffffff80);
  --line-color: color-mix(in srgb, var(--accent-color) 5%, #ffffff01);
  --background-slider-color: color-mix(
    in srgb,
    var(--accent-color) 10%,
    #ffffff01
  );
  --background-thumb-color: color-mix(
    in srgb,
    var(--accent-color) 15%,
    #ffffff01
  );
}

@theme inline {
  --color-accent: var(--accent-color);
  --color-button: var(--accent-button-color);
  --color-text: var(--text-color);
  --color-subtext: var(--sub-text-color);
  --color-rect-bg: var(--rect-background-color);
  --color-rect-boder: var(--rect-border-color);
  --color-hr: var(--line-color);
  --text-header: 2rem;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  overflow-x: hidden;
  user-select: none;
}

.Toastify__close-button {
  color: var(--text-color);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.ripple {
  animation: ripple 0.6s linear;
  transform-origin: center;
  position: absolute;
  border-radius: 50%;
}

.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 9999px;
  border: 1px solid transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background-color: #000;
}

.text-myred { color: #ed2424; } 